@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  font-family: "Nunito", sans-serif;
  background: #e7e7e7;
  outline: none;
  margin: 0;
}

header {
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-shadow: 0 0 10px 0 #303030;
          box-shadow: 0 0 10px 0 #303030;
  padding: 15px;
  background: #c9c9c9;
}

header h1 {
  margin: 0;
}

header .fas {
  display: inline-block;
  font-size: 40px;
  margin-top: .5rem;
  color: #15647c;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  border-radius: 50%;
  cursor: pointer;
}

header .fas:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  color: #115266;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

header form {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header form input {
  max-width: 350px;
  border-radius: 8px;
  padding: 3px 6px;
  border: 1px solid #202020;
  background: #e7e7e7;
  font-size: 20px;
}

header form button {
  background: none;
  width: 40px;
  height: 40px;
  border: none;
  padding: 0;
  margin: 0 0 0 0;
}

header form .note {
  white-space: pre;
  word-break: break-word;
}

header form :nth-child(4), header form :nth-child(5) {
  margin-top: 1rem;
}

.main {
  padding: 15px;
}

.main .todos {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(280px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 15px;
}

.main .todos .todo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 149.2px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-width: 280px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: .5rem;
  border-radius: 8px;
  border: 3px solid #777777;
  background: #c9c9c9;
  -webkit-box-shadow: 4px 4px 20px -9px #303030;
          box-shadow: 4px 4px 20px -9px #303030;
  position: relative;
  -webkit-animation: appear .5s;
          animation: appear .5s;
}

.main .todos .todo:hover {
  -webkit-box-shadow: 5px 5px 30px -9px #303030;
          box-shadow: 5px 5px 30px -9px #303030;
}

.main .todos .todo h4 {
  margin: 0;
  font-size: 2.3vh;
}

.main .todos .todo .note-container .note.less {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-wrap: none;
}

.main .todos .todo .note-container .note.more {
  overflow: visible;
}

.main .todos .todo .note-container .display-button {
  outline: hidden;
  border: 0;
  background: #303030;
  color: #ffffff;
  padding: .3rem;
  font-size: .7rem;
  margin: .3rem 0;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 8px;
  padding: 5px 7px;
  -webkit-box-shadow: 0 2px 5px 0 #414141;
          box-shadow: 0 2px 5px 0 #414141;
  -webkit-transition: -webkit-box-shadow .2s;
  transition: -webkit-box-shadow .2s;
  transition: box-shadow .2s;
  transition: box-shadow .2s, -webkit-box-shadow .2s;
  cursor: pointer;
}

.main .todos .todo .note-container .display-button:hover {
  -webkit-box-shadow: 0 3px 5px 0 #414141;
          box-shadow: 0 3px 5px 0 #414141;
  -webkit-transition: -webkit-box-shadow .2s;
  transition: -webkit-box-shadow .2s;
  transition: box-shadow .2s;
  transition: box-shadow .2s, -webkit-box-shadow .2s;
}

.main .todos .todo .date {
  font-size: 12px;
  text-align: right;
  margin: 0px;
  color: #555555;
}

.main .todos .todo i {
  font-weight: 400;
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 23px;
  cursor: pointer;
}

.main .todos .todo i:hover {
  -webkit-transition: color .3s;
  transition: color .3s;
  -webkit-animation: shake 1s infinite;
          animation: shake 1s infinite;
  color: #e23333;
}

@-webkit-keyframes appear {
  from {
    opacity: 0;
    -webkit-transform: translate3d(42px, -62px, -135px);
            transform: translate3d(42px, -62px, -135px);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0);
            transform: translate3d(0);
  }
}

@keyframes appear {
  from {
    opacity: 0;
    -webkit-transform: translate3d(42px, -62px, -135px);
            transform: translate3d(42px, -62px, -135px);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0);
            transform: translate3d(0);
  }
}

@-webkit-keyframes shake {
  from {
    -webkit-transform: rotate(5deg) scale(110%);
            transform: rotate(5deg) scale(110%);
  }
  to {
    -webkit-transform: rotate(-5deg) scale(100%);
            transform: rotate(-5deg) scale(100%);
  }
}

@keyframes shake {
  from {
    -webkit-transform: rotate(5deg) scale(110%);
            transform: rotate(5deg) scale(110%);
  }
  to {
    -webkit-transform: rotate(-5deg) scale(100%);
            transform: rotate(-5deg) scale(100%);
  }
}
/*# sourceMappingURL=App.css.map */