*, *::after, *::before { box-sizing: border-box; }
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

body {
    height: 100%;
    width: 100%;
    font-family: "Nunito", sans-serif;
    background: #e7e7e7;
    outline: none;
    margin: 0;
}

header {
    text-align: center;
    user-select: none;
    box-shadow: 0 0 10px 0 #303030;
    padding: 15px;
    background: #c9c9c9;
    animation: appearform .3s;
    
    
    h1 {
        margin: 0;
    }
    
    .fas {
        display: inline-block;
        font-size: 40px;
        margin-top: .5rem;
        color: #15647c;
        transition: transform .3s;
        border-radius: 50%;
        
        &:hover {
            transform: rotate(90deg);
            color: darken(#15647c ,5%);
            cursor: pointer;
            transition: transform .3s;
        } 
    }
    
    .hide-form{
        height: auto;
        transition: height .3s;
    }
    
    .show-form {
        transition: height .3s;
        height: auto;
    }

    form {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        animation: appearform .3s;

        input {
            max-width: 350px;
            border-radius: 8px;
            padding: 3px 6px;
            border: 1px solid #202020;
            background: #e7e7e7;
            font-size: 20px;
        }

        button {
            background: none;
            width: 40px;
            height: 40px;
            border: none;
            padding: 0;
            margin: 0 0 0 0;
        }
        
        .note {
            white-space: pre;
            word-break: break-word;   
        }

        :nth-child(4), :nth-child(5) {
            margin-top: 1rem;
        }
    }
}

.main {
    padding: 15px;

    .todos {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        gap: 15px;

        .todo {
            display: flex;
            min-height: 149.2px;
            height: fit-content;
            min-width: 280px;
            flex-direction: column;
            justify-content: space-between;
            padding: .5rem;
            border-radius: 8px;
            border: 3px solid rgb(119, 119, 119);
            background: #c9c9c9;
            box-shadow: 4px 4px 20px -9px #303030;
            position: relative;
            animation: appear .3s;

            &:hover {
                box-shadow: 5px 5px 30px -9px #303030;
            }
        
            h4 {
                margin: 0;
                // min-height: 2em;
                font-size: 2.3vh;
            }

            .note-container {

                .note {
                    &.less {
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        word-wrap: break-word;
                    }
                    
                    &.more {
                        word-wrap: break-word;
                        overflow: visible;
                    }
                }
    
                .display-button {
                    outline: hidden;
                    border: 0;
                    background: #303030;
                    color: #ffffff;
                    padding: .3rem;
                    font-size: .7rem;
                    margin: .3rem 0;
                    display: block;
                    width: fit-content;
                    border-radius: 8px;
                    padding: 5px 7px;
                    box-shadow: 0 2px 5px 0 #414141;
                    transition: box-shadow .2s;
                    cursor: pointer;
                    &:hover {
                        box-shadow: 0 3px 5px 0 #414141;
                        transition: box-shadow .2s;

                    }
    
                }
            }

            .date {  
                font-size:12px;
                text-align: right;
                margin: 0px;
                color: #555555
            }

            i {
                font-weight: 400;
                position: absolute;
                top: 8px;
                right: 8px;
                font-size: 23px;
                cursor: pointer;
                
                &:hover {
                    transition: color .3s;
                    animation: shake 1s infinite;
                    color: #e23333;      
                }
            }
        }
    }
}

@keyframes appear {
    from { opacity: 0; transform: translate3d(42px, -62px, -135px); }
    to { opacity: 1; transform: translate3d(0);}
}

@keyframes appearform {
    from { opacity: 0; transform: translateY(-200px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes shake {
    from { transform: rotate(5deg) scale(110%); }
    to { transform: rotate(-5deg) scale(100%); }
}

// @keyframes heigth {
//     from { height: }
// }